// Imports -------------------------------------------------------------------

@import compass
@import compass/layout
@import susy

// Modules -------------------------------------------------------------------

@import scale
@import colors
@import fonts

// Font Sizes ----------------------------------------------------------------

$base-font-size     : $normpx
$base-line-height   : $medpx

// Links ---------------------------------------------------------------------

$link   :   "&:link, &:visited"
$alink  :   "a:link, a:visited"
$focus  :   "&:focus, &:hover, &:active"
$afocus  :   "a:focus, a:hover, a:active"

// Browsers ------------------------------------------------------------------

$legacy-support-for-ie6         : false
$legacy-support-for-ie7         : false !default
$legacy-support-for-ie8         : false !default
$ie                             : false !default

// Grids ---------------------------------------------------------------------

$show-column-grid-backgrounds     : true
$show-baseline-grid-backgrounds   : true
$show-grid-backgrounds            : false
