// Imports -------------------------------------------------------------------

@import settings/scale
@import compass
@import compass/layout
@import susy

@import settings/fonts
@import settings/colors

// Settings ------------------------------------------------------------------

$legacy-support-for-ie6         : false

$show-column-grid-backgrounds   : true
$show-baseline-grid-backgrounds : false
$show-grid-backgrounds          : false

// Helpers -------------------------------------------------------------------

@import helpers/helpers
