// Imports -------------------------------------------------------------------

@import defaults

// 1452px Grid -----------------------------------------------------------------
// (29*3em + 28*1em + 2em) = 117em = 1404px
// 60px + 12px x 20px

$total-cols         : 29
$col-width          : 3em
$gutter-width       : 1em
$side-gutter-width  : $gutter-width

/* Layout --------------------------------------------------------------

body > div
  +container
  min-width: 60em

[role="banner"]
  +full
  +clearfix
  +padding-leader(.5)

h1
  +fixed-columns(8)
  a
    #{$link}
      display: block

.nav
  +clearfix
  margin-left: fixed(8) + gutter-width()

[role="navigation"]
  +columns(11,21)
  +omega(21)
  text-align: right

.meta
  +columns(10,21)

[role="main"]
  +full
  +pie-clearfix
  +h-borders(1px,1)
  position: relative
  min-height: rhythm(24)
  border-color: $light

[role="contentinfo"]
  +full
  +adjust-font-size-to(12px)
  +trailer(1,12px)
  font-style: italic
  small
    font: inherit

/* Login ---------------------------------------------------------------------

#login
  +full(29)
  +pad(6,6,29)
  form
    +leader
  label
    +gone
  li
    +trailer(.5)

/* Modules -------------------------------------------------------------------

@import modules/filter
@import modules/managelists

/* Address Table -------------------------------------------------------------

#addresstable
  +fixed-columns(8)
  +column-grid-background(8,$col-width,$gutter-width,0em,$force-fluid:true)
  counter-reset: address

  h2
    +gone

  .address
    counter-increment: address

    .content
      +clearfix
      +padding-leader(.5)
      +trailing-border(1px,.5)
      margin-right: - $gutter-width
      padding-right: $gutter-width
      border-color: $light

  .controls
    display: none

  [id^="select_"]
    +gone
    &:checked + .content
      background: rgba($light,.5)

  .header
    +clearfix
    display: block

  .adr
    +columns(4,8)
    +prefix(1,8)
    +trailer(.5)
    position: relative
  .street-address
    +adjust-font-size-to($medpx)
    display: block
    &::before
      position: absolute
      left: 0
      content: counter(address, upper-latin) "."
      width: columns(1,5)
      text-align: right

  .id
    +columns(3,8)
    +omega(8)
    text-align: right
    font-weight: bold

  .complex
    +no-style-button
    +box-sizing(border-box)
    +columns(4,8)
    margin:
      left: columns(1,8) + gutter(8)
      bottom: 0
    padding-left: 1.5em
    background: image-url('ui/house.png') no-repeat scroll left

  summary
    +columns(3,8)
    +omega(8)
    text-align: right


/* Map -----------------------------------------------------------------------

#map
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: fixed(8) + $gutter-width
  padding: rhythm(.5)
  background: $dark
  color: $light
