html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

@font-face { font-family: "CambridgeRound"; src: url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.woff') format('woff'), url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_regular_macroman/cambridge_round-webfont.svg#CambridgeRound') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: "CambridgeRound"; src: url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.woff') format('woff'), url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_light_macroman/cambridge_round_light-webfont.svg#CambridgeRoundLight') format('svg'); font-weight: 200; font-style: normal; }

@font-face { font-family: "CambridgeRound"; src: url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.woff') format('woff'), url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_semibold_macroman/cambridge_round_semibold-webfont.svg#CambridgeRoundSemibold') format('svg'); font-weight: 500; font-style: normal; }

@font-face { font-family: "CambridgeRound"; src: url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.woff') format('woff'), url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_bold_macroman/cambridge_round_bold-webfont.svg#CambridgeRoundBold') format('svg'); font-weight: 700; font-style: normal; }

@font-face { font-family: "CambridgeRound"; src: url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.woff') format('woff'), url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_italic_macroman/cambridge_round_it-webfont.svg#CambridgeRoundItalic') format('svg'); font-weight: normal; font-style: italic; }

@font-face { font-family: "CambridgeRoundCond"; src: url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_condensed_macroman/cambridge_round_cond-webfont.svg#CambridgeRoundCondensed') format('svg'); font-weight: normal; font-style: normal; }

@font-face { font-family: "CambridgeRoundCond"; src: url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_boldcondensed_macroman/cambridge_round_bold_cond-webfont.svg#CambridgeRoundBoldCondensed') format('svg'); font-weight: 700; font-style: normal; }

@font-face { font-family: "CambridgeRoundCond"; src: url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.woff') format('woff'), url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.ttf') format('truetype'), url('../fonts/cambridgeround_semiboldcondensed_macroman/cambridge_round_semibold_cond-webfont.svg#CambridgeRoundBoldCondensed') format('svg'); font-weight: 500; font-style: normal; }

/* ! Web Fonts from fontspring.com  All OpenType features and all extended glyphs have been removed. Fully installable fonts can be purchased at http://www.fontspring.com  The fonts included in this stylesheet are subject to the End User License you purchased from Fontspring. The fonts are protected under domestic and international trademark and copyright law. You are prohibited from modifying, reverse engineering, duplicating, or distributing this font software.  (c) 2010-2011 Fontspring     The fonts included are copyrighted by the vendor listed below.  Vendor:      Aviation Partners License URL: http://www.fontspring.com/fflicense/aviation-partners   */
.simplepage { clear: both; padding-left: 27.778%; padding-right: 27.778%; padding-top: 1.618em; padding-bottom: 1.618em; max-width: 59em; }
.simplepage h2 { margin-bottom: 1.618em; }
.simplepage label { font-weight: 700; }
.simplepage li { margin-bottom: 0.809em; position: relative; }

/* Typography ---------------------------------------------------------------- */
.serif { font-family: Cambria, Georgia, serif; }

.sans, body { font-family: "CambridgeRound", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, pre, code, tt { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif; }

.caps, .allcaps, h2, caption, .smallcaps { letter-spacing: 0.1em; }

.allcaps, h2, caption { text-transform: uppercase; }

.smallcaps { font-variant: small-caps; }

/* Lightboxes -------------------------------------------------------------- */
#lightboxes aside { margin: 0; padding: 0; border: 0; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; position: absolute; top: 0; right: 0; bottom: 0; left: 0; display: block; z-index: -1; }
#lightboxes aside:target { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; z-index: 999; }
#lightboxes aside.active { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; z-index: 999; }
#lightboxes aside > div { -moz-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9); -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9); -o-box-shadow: 0 0 1em rgba(0, 0, 0, 0.9); box-shadow: 0 0 1em rgba(0, 0, 0, 0.9); position: relative; margin: 3em auto; padding: 1.618em; width: 52.236em; border: 1em solid; background: white; text-align: left; }

[contenteditable] { color: #005498 !important; text-align: left; min-width: 1em; min-height: 1.618em; }
[contenteditable]:focus, [contenteditable]:hover, [contenteditable]:active { outline: 1px dotted; }

@-webkit-keyframes bghighlight { 0% { background-color: rgba(0, 84, 152, 0); }
  100% { background-color: rgba(0, 84, 152, 0.25); } }

@-moz-keyframes bghighlight { 0% { background-color: rgba(0, 84, 152, 0); }
  100% { background-color: rgba(0, 84, 152, 0.25); } }

@keyframes bghighlight { 0% { background-color: rgba(0, 84, 152, 0); }
  100% { background-color: rgba(0, 84, 152, 0.25); } }

/* Root ---------------------------------------------------------------------- */
body { font-size: 75%; line-height: 1.618em; }

html > body { font-size: 12px; }

html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { text-shadow: rgba(255, 255, 255, 0.618) 0 1px 0; color: #4c4c4c; }

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection { color: #dddddd; background: #005498; text-shadow: none; }

::-moz-selection { color: #dddddd; background: #005498; text-shadow: none; }

::selection { color: #dddddd; background: #005498; text-shadow: none; }

/* Links --------------------------------------------------------------------- */
a:hover, a:active { outline: none; }
a:link, a:visited { color: #005498; text-decoration: none; }
a:focus, a:hover, a:active { color: #984400; }

/* Headings ------------------------------------------------------------------ */
h1 { font-size: 1.618em; line-height: 1em; font-weight: 700; }

h3, h4 { font-weight: 700; }

h5, h6 { font-style: italic; }

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: 700; }

sup, sub { position: relative; font-size: smaller; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr[title], acronym[title] { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; color: inherit; }

small { font-size: 0.382em; line-height: 4.236em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block --------------------------------------------------------------------- */
p { margin-bottom: 1.618em; }

pre { padding: 1.618em; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

blockquote { font-style: italic; padding: 1.618em; }

nav ul, nav ol, nav h2, nav p { margin: 0; }

.navhead { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* Interactive --------------------------------------------------------------- */
summary, .summary { -moz-appearance: none; -webkit-appearance: none; appearance: none; display: inline; cursor: pointer; color: #005498; }
summary:focus, .summary:focus { outline: thin dotted #984400; }

body .details > :not(.summary) { display: none; }

.no-details details > :not(summary) { display: none; }
.no-details details summary::before { font-size: 0.75em; line-height: 2.157em; content: "▶"; }
.no-details details.open summary::before { content: "▼"; }

/* Replaced ------------------------------------------------------------------ */
figure img, figure object, figure embed { vertical-align: top; max-width: 100%; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* Lists --------------------------------------------------------------------- */
ol, ul, dd { margin-left: 1.618em; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
nav ul { margin: 0; padding: 0; border: 0; list-style: none; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

dt { margin-top: 1.618em; }

/* Tables -------------------------------------------------------------------- */
table { margin-bottom: 1.618em; width: 100%; border-collapse: separate; border-spacing: 0; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: 700; }

th, td, caption { padding: 0.809em; text-align: left; font-weight: normal; }

table, th { border-bottom-style: solid; border-bottom-width: 0.083em; padding-bottom: 0.726em; }

tfoot { font-size: 1.167em; line-height: 1.387em; }

/* Forms --------------------------------------------------------------------- */
/* Form Resets --------------------------------------------------------------- */
input[type="button"], input[type="submit"], input[type="image"], label, button { cursor: pointer; }

input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }
input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

textarea { overflow: auto; resize: vertical; }

button, input[type="select"], select, textarea { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

optgroup { margin: 0; padding: 0; border: 0; }

optgroup { color: #4c4c4c; font-style: normal; font-weight: normal; }

.iem7 legend { margin-left: -7px; }

::-moz-focus-inner { border: 0; }

/* Placeholders -------------------------------------------------------------- */
/* Basic --------------------------------------------------------------------- */
form > ul { margin: 0; padding: 0; border: 0; list-style: none; }
form > ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
form > ul > li { *zoom: 1; }
form > ul > li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

/* Text Inputs --------------------------------------------------------------- */
.textinput, textarea, select:not([multiple]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] { font-family: "CambridgeRound", "Helvetica Neue", Helvetica, Arial, sans-serif; border-style: solid; border-width: 0.083em; padding: 0.321em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2.427em; font: inherit; color: #4c4c4c; vertical-align: top; outline: 0; border-color: #dddddd; }

.input[disabled], textarea[disabled], select[disabled], input[disabled][type="text"], input[disabled][type="password"], input[disabled][type="email"], input[disabled][type="url"], input[disabled][type="tel"], input[disabled][type="date"], input[disabled][type="datetime"], input[disabled][type="datetime-local"], input[disabled][type="month"], input[disabled][type="week"], input[disabled][type="time"], input[disabled][type="number"], input[disabled][type="search"], input[disabled][type="color"] { background-color: #dddddd; color: #727272; }
.input:valid, textarea:valid, select:valid, input[type="text"]:valid, input[type="password"]:valid, input[type="email"]:valid, input[type="url"]:valid, input[type="tel"]:valid, input[type="date"]:valid, input[type="datetime"]:valid, input[type="datetime-local"]:valid, input[type="month"]:valid, input[type="week"]:valid, input[type="time"]:valid, input[type="number"]:valid, input[type="search"]:valid, input[type="color"]:valid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; }
.input:valid:focus, textarea:valid:focus, select:valid:focus, input[type="text"]:valid:focus, input[type="password"]:valid:focus, input[type="email"]:valid:focus, input[type="url"]:valid:focus, input[type="tel"]:valid:focus, input[type="date"]:valid:focus, input[type="datetime"]:valid:focus, input[type="datetime-local"]:valid:focus, input[type="month"]:valid:focus, input[type="week"]:valid:focus, input[type="time"]:valid:focus, input[type="number"]:valid:focus, input[type="search"]:valid:focus, input[type="color"]:valid:focus, .input:valid.hadfocus, textarea:valid.hadfocus, select:valid.hadfocus, input[type="text"]:valid.hadfocus, input[type="password"]:valid.hadfocus, input[type="email"]:valid.hadfocus, input[type="url"]:valid.hadfocus, input[type="tel"]:valid.hadfocus, input[type="date"]:valid.hadfocus, input[type="datetime"]:valid.hadfocus, input[type="datetime-local"]:valid.hadfocus, input[type="month"]:valid.hadfocus, input[type="week"]:valid.hadfocus, input[type="time"]:valid.hadfocus, input[type="number"]:valid.hadfocus, input[type="search"]:valid.hadfocus, input[type="color"]:valid.hadfocus { -moz-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.25em; -webkit-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.25em; -o-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.25em; box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.25em; }
.no-boxshadow .input:valid:focus, .no-boxshadow textarea:valid:focus, .no-boxshadow select:valid:focus, .no-boxshadow input[type="text"]:valid:focus, .no-boxshadow input[type="password"]:valid:focus, .no-boxshadow input[type="email"]:valid:focus, .no-boxshadow input[type="url"]:valid:focus, .no-boxshadow input[type="tel"]:valid:focus, .no-boxshadow input[type="date"]:valid:focus, .no-boxshadow input[type="datetime"]:valid:focus, .no-boxshadow input[type="datetime-local"]:valid:focus, .no-boxshadow input[type="month"]:valid:focus, .no-boxshadow input[type="week"]:valid:focus, .no-boxshadow input[type="time"]:valid:focus, .no-boxshadow input[type="number"]:valid:focus, .no-boxshadow input[type="search"]:valid:focus, .no-boxshadow input[type="color"]:valid:focus, .no-boxshadow .input:valid.hadfocus, .no-boxshadow textarea:valid.hadfocus, .no-boxshadow select:valid.hadfocus, .no-boxshadow input[type="text"]:valid.hadfocus, .no-boxshadow input[type="password"]:valid.hadfocus, .no-boxshadow input[type="email"]:valid.hadfocus, .no-boxshadow input[type="url"]:valid.hadfocus, .no-boxshadow input[type="tel"]:valid.hadfocus, .no-boxshadow input[type="date"]:valid.hadfocus, .no-boxshadow input[type="datetime"]:valid.hadfocus, .no-boxshadow input[type="datetime-local"]:valid.hadfocus, .no-boxshadow input[type="month"]:valid.hadfocus, .no-boxshadow input[type="week"]:valid.hadfocus, .no-boxshadow input[type="time"]:valid.hadfocus, .no-boxshadow input[type="number"]:valid.hadfocus, .no-boxshadow input[type="search"]:valid.hadfocus, .no-boxshadow input[type="color"]:valid.hadfocus { background-color: rgba(0, 128, 0, 0.25); }
.input:invalid, textarea:invalid, select:invalid, input[type="text"]:invalid, input[type="password"]:invalid, input[type="email"]:invalid, input[type="url"]:invalid, input[type="tel"]:invalid, input[type="date"]:invalid, input[type="datetime"]:invalid, input[type="datetime-local"]:invalid, input[type="month"]:invalid, input[type="week"]:invalid, input[type="time"]:invalid, input[type="number"]:invalid, input[type="search"]:invalid, input[type="color"]:invalid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.25em; }
.input:invalid:focus, textarea:invalid:focus, select:invalid:focus, input[type="text"]:invalid:focus, input[type="password"]:invalid:focus, input[type="email"]:invalid:focus, input[type="url"]:invalid:focus, input[type="tel"]:invalid:focus, input[type="date"]:invalid:focus, input[type="datetime"]:invalid:focus, input[type="datetime-local"]:invalid:focus, input[type="month"]:invalid:focus, input[type="week"]:invalid:focus, input[type="time"]:invalid:focus, input[type="number"]:invalid:focus, input[type="search"]:invalid:focus, input[type="color"]:invalid:focus, .input:invalid.hadfocus, textarea:invalid.hadfocus, select:invalid.hadfocus, input[type="text"]:invalid.hadfocus, input[type="password"]:invalid.hadfocus, input[type="email"]:invalid.hadfocus, input[type="url"]:invalid.hadfocus, input[type="tel"]:invalid.hadfocus, input[type="date"]:invalid.hadfocus, input[type="datetime"]:invalid.hadfocus, input[type="datetime-local"]:invalid.hadfocus, input[type="month"]:invalid.hadfocus, input[type="week"]:invalid.hadfocus, input[type="time"]:invalid.hadfocus, input[type="number"]:invalid.hadfocus, input[type="search"]:invalid.hadfocus, input[type="color"]:invalid.hadfocus { -moz-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.25em; -webkit-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.25em; -o-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.25em; box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.25em; }
.no-boxshadow .input:invalid:focus, .no-boxshadow textarea:invalid:focus, .no-boxshadow select:invalid:focus, .no-boxshadow input[type="text"]:invalid:focus, .no-boxshadow input[type="password"]:invalid:focus, .no-boxshadow input[type="email"]:invalid:focus, .no-boxshadow input[type="url"]:invalid:focus, .no-boxshadow input[type="tel"]:invalid:focus, .no-boxshadow input[type="date"]:invalid:focus, .no-boxshadow input[type="datetime"]:invalid:focus, .no-boxshadow input[type="datetime-local"]:invalid:focus, .no-boxshadow input[type="month"]:invalid:focus, .no-boxshadow input[type="week"]:invalid:focus, .no-boxshadow input[type="time"]:invalid:focus, .no-boxshadow input[type="number"]:invalid:focus, .no-boxshadow input[type="search"]:invalid:focus, .no-boxshadow input[type="color"]:invalid:focus, .no-boxshadow .input:invalid.hadfocus, .no-boxshadow textarea:invalid.hadfocus, .no-boxshadow select:invalid.hadfocus, .no-boxshadow input[type="text"]:invalid.hadfocus, .no-boxshadow input[type="password"]:invalid.hadfocus, .no-boxshadow input[type="email"]:invalid.hadfocus, .no-boxshadow input[type="url"]:invalid.hadfocus, .no-boxshadow input[type="tel"]:invalid.hadfocus, .no-boxshadow input[type="date"]:invalid.hadfocus, .no-boxshadow input[type="datetime"]:invalid.hadfocus, .no-boxshadow input[type="datetime-local"]:invalid.hadfocus, .no-boxshadow input[type="month"]:invalid.hadfocus, .no-boxshadow input[type="week"]:invalid.hadfocus, .no-boxshadow input[type="time"]:invalid.hadfocus, .no-boxshadow input[type="number"]:invalid.hadfocus, .no-boxshadow input[type="search"]:invalid.hadfocus, .no-boxshadow input[type="color"]:invalid.hadfocus { background-color: rgba(255, 0, 0, 0.25); }
.ie7 .input, .ie7 textarea, .ie7 select, .ie7 input[type="text"], .ie7 input[type="password"], .ie7 input[type="email"], .ie7 input[type="url"], .ie7 input[type="tel"], .ie7 input[type="date"], .ie7 input[type="datetime"], .ie7 input[type="datetime-local"], .ie7 input[type="month"], .ie7 input[type="week"], .ie7 input[type="time"], .ie7 input[type="number"], .ie7 input[type="search"], .ie7 input[type="color"] { height: auto; }

textarea { height: auto; min-height: 8.09em; }
textarea::-webkit-input-placeholder { color: rgba(148, 148, 148, 0.75); }
textarea:-moz-placeholder { color: rgba(148, 148, 148, 0.75); }
textarea.placeholder { color: rgba(148, 148, 148, 0.75); }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder { color: rgba(148, 148, 148, 0.75); }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="color"]:-moz-placeholder { color: rgba(148, 148, 148, 0.75); }
input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="tel"].placeholder, input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder, input[type="month"].placeholder, input[type="week"].placeholder, input[type="time"].placeholder, input[type="number"].placeholder, input[type="search"].placeholder, input[type="color"].placeholder { color: rgba(148, 148, 148, 0.75); }
input[type="file"] { margin-bottom: 0.809em; }

/* Buttons ------------------------------------------------------------------- */
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { margin: 0; padding: 0; border: 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; overflow: visible; width: auto; vertical-align: baseline; background: none; color: inherit; font: inherit; }
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { *display: inline; }

.button, button, input[type="reset"], input[type="submit"], input[type="button"] { -moz-border-radius: 5px; -webkit-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; background: #005498; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 221, 221, 0.25)), color-stop(100%, rgba(221, 221, 221, 0))), #005498; background: -webkit-linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: -moz-linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: -o-linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; border-style: solid; border-width: 0.083em; padding: 0.321em; padding-left: 1.618em; padding-right: 1.618em; text-shadow: #4c4c4c 1px 1px 0; font-weight: 700; border-color: #4c4c4c; vertical-align: baseline; cursor: pointer; color: #dddddd; }
.button:focus, button:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus { outline: thin dotted #984400; }
.button:active, button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { -moz-transition-property: none; -webkit-transition-property: none; -o-transition-property: none; transition-property: none; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(221, 221, 221, 0.25)), color-stop(100%, rgba(221, 221, 221, 0))); background-image: -webkit-linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%); background-image: -moz-linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%); background-image: -o-linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%); background-image: linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%); }
.button[disabled], button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] { color: #888888; }

button[disabled] { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; }

/* Form Helpers -------------------------------------------------------------- */
.errorlist { margin: 0; padding: 0; border: 0; list-style: none; color: red; }
.errorlist li { list-style-image: none; list-style-type: none; margin-left: 0px; }

.form-actions { text-align: right; }

/* Print Defaults ------------------------------------------------------------ */
nav { display: none; }

* { background: transparent !important; color: #4c4c4c !important; float: none !important; text-shadow: none !important; }

body { font-family: Cambria, Georgia, serif; font-size: 12px; line-height: 18px; background: white; color: black; }

a:link, a:visited { color: #4c4c4c !important; }
a:not([href^="#"]):not([href="/"]):not([rel="home"]):link, a:not([href^="#"]):not([href="/"]):not([rel="home"]):visited { color: #333366 !important; text-decoration: underline; }
a:not([href^="#"]):not([href="/"]):not([rel="home"]):after { content: " (" attr(href) ") "; }

abbr:after { content: " (" attr(title) ")"; }

pre, blockquote, img { page-break-inside: avoid; }

@page { margin: 0.5cm; }

p, h2, h3 { orphans: 3; widows: 3; }

h2, h3 { page-break-after: avoid; }
