html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

body { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Typography ---------------------------------------------------------------- */
.serif { font-family: Cambria, Georgia, serif; }

.sans, body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.mono, pre, code, tt { font-family: "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, Courier, monospace, sans-serif; }

.caps, .allcaps, h1, h2, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"], .smallcaps, h4, #filter h5 { letter-spacing: 0.1em; }

.allcaps, h1, h2, caption, .button, button, input[type="reset"], input[type="submit"], input[type="button"] { text-transform: uppercase; }

.smallcaps, h4, #filter h5 { font-variant: small-caps; }

/* Helpers ------------------------------------------------------------------- */
.full { display: block; float: none; width: auto; }

.half { max-width: 50%; }

.left { display: inline; float: left; margin-right: 1em; margin-bottom: 0.5em; }

.right { display: inline; float: right; margin-left: 1em; margin-bottom: 0.5em; }

/* Root ---------------------------------------------------------------------- */
body { font-size: 87.5%; line-height: 1.618em; }

html > body { font-size: 14px; }

html { text-rendering: optimizeLegibility; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { color: #4c4c4c; }

/* Selected Text ------------------------------------------------------------- */
::-webkit-selection { color: #dddddd; background: #005498; text-shadow: none; }

::-moz-selection { color: #dddddd; background: #005498; text-shadow: none; }

::selection { color: #dddddd; background: #005498; text-shadow: none; }

/* Links --------------------------------------------------------------------- */
a:hover, a:active { outline: none; }
a:link, a:visited { color: #005498; text-decoration: none; }
a:focus, a:hover, a:active { color: #984400; }

/* Headings ------------------------------------------------------------------ */
h1 { font-size: 1.618em; line-height: 1em; }

h3 { font-weight: bold; }

h5, h6 { font-style: italic; }

/* Inline -------------------------------------------------------------------- */
cite, em, dfn, address, i { font-style: italic; }

strong, dfn, b { font-weight: bold; }

sup, sub { position: relative; font-size: smaller; line-height: 0; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

abbr, acronym { border-bottom: 1px dotted; cursor: help; }

ins { text-decoration: underline; }

del { text-decoration: line-through; }

mark { background: #ffff99; background-color: rgba(255, 255, 0, 0.5); text-shadow: none; }

small { font-size: 0.382em; line-height: 4.236em; }

q { font-style: italic; }
q em { font-style: normal; }

/* Block --------------------------------------------------------------------- */
p { margin-bottom: 1.618em; }

pre { padding: 1.618em; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word; }

blockquote { padding: 1.618em; font-style: italic; }

nav p { margin: 0; }

.navhead { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }

/* Interactive --------------------------------------------------------------- */
details { margin-bottom: 1.618em; }

summary { display: inline; cursor: pointer; }
summary:focus { outline: thin dotted #984400; }

.no-details details > * { display: none; }
.no-details details summary { display: inline; }

/* Replaced ------------------------------------------------------------------ */
figure img, figure object, figure embed { vertical-align: top; max-width: 100%; }

.ie7 img { -ms-interpolation-mode: bicubic; }

/* Lists --------------------------------------------------------------------- */
ol, ul, dd { margin-left: 1.618em; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
nav ul { margin: 0; padding: 0; border: 0; list-style: none; }
nav ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

dt { margin-top: 1.618em; }

/* Tables -------------------------------------------------------------------- */
table { margin-bottom: 1.618em; width: 100%; border-collapse: separate; border-spacing: 0; }

table, td, th { vertical-align: top; }

th, thead th { font-weight: bold; }

th, td, caption { padding: 0.809em; text-align: left; font-weight: normal; }

table, th { border-bottom-style: solid; border-bottom-width: 0.071em; padding-bottom: 0.738em; }

tfoot { font-size: 1em; line-height: 1.618em; }

/* Forms --------------------------------------------------------------------- */
/* Form Resets --------------------------------------------------------------- */
input[type="button"], input[type="submit"], input[type="image"], label, button { cursor: pointer; }

input[type="search"] { -webkit-appearance: none; }
input[type="search"]::-webkit-search-decoration { display: none; }
input[type="radio"], input[type="checkbox"] { vertical-align: baseline; }

textarea { overflow: auto; resize: vertical; }

button, input[type="select"], select, textarea { -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; }

optgroup { margin: 0; padding: 0; border: 0; }

optgroup { color: #4c4c4c; font-style: normal; font-weight: normal; }

.iem7 legend { margin-left: -7px; }

::-moz-focus-inner { border: 0; }

/* Placeholders -------------------------------------------------------------- */
/* Basic --------------------------------------------------------------------- */
form > ul { margin: 0; padding: 0; border: 0; list-style: none; }
form > ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
form > ul > li { *zoom: 1; }
form > ul > li:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

/* Text Inputs --------------------------------------------------------------- */
.textinput, textarea, select:not([multiple]), input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="time"], input[type="number"], input[type="search"], input[type="color"] { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 1em; line-height: 1.618em; border-style: solid; border-width: 0.071em; padding: 0.333em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -ms-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 2.427em; vertical-align: top; outline: 0; border-color: #949494; }

.input[disabled], textarea[disabled], select[disabled] { background-color: #dddddd; color: #727272; }
.input:valid, textarea:valid, select:valid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:valid:focus, textarea:valid:focus, select:valid:focus, .input:valid.hadfocus, textarea:valid.hadfocus, select:valid.hadfocus { -moz-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 128, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:valid:focus, .no-boxshadow textarea:valid:focus, .no-boxshadow select:valid:focus, .no-boxshadow .input:valid.hadfocus, .no-boxshadow textarea:valid.hadfocus, .no-boxshadow select:valid.hadfocus { background-color: rgba(0, 128, 0, 0.25); }
.input:invalid, textarea:invalid, select:invalid { -moz-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; box-shadow: inset rgba(0, 0, 255, 0.25) 0 0 0.375em; }
.input:invalid:focus, textarea:invalid:focus, select:invalid:focus, .input:invalid.hadfocus, textarea:invalid.hadfocus, select:invalid.hadfocus { -moz-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -webkit-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; -o-box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; box-shadow: inset rgba(255, 0, 0, 0.25) 0 0 0.375em; }
.no-boxshadow .input:invalid:focus, .no-boxshadow textarea:invalid:focus, .no-boxshadow select:invalid:focus, .no-boxshadow .input:invalid.hadfocus, .no-boxshadow textarea:invalid.hadfocus, .no-boxshadow select:invalid.hadfocus { background-color: rgba(255, 0, 0, 0.25); }
.ie7 .input, .ie7 textarea, .ie7 select { height: auto; }

textarea { height: auto; min-height: 8.09em; }
textarea::-webkit-input-placeholder { color: #949494; }
textarea:-moz-placeholder { color: #949494; }
textarea.placeholder { color: #949494; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="color"]::-webkit-input-placeholder { color: #949494; }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="week"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="color"]:-moz-placeholder { color: #949494; }
input[type="text"].placeholder, input[type="password"].placeholder, input[type="email"].placeholder, input[type="url"].placeholder, input[type="tel"].placeholder, input[type="date"].placeholder, input[type="datetime"].placeholder, input[type="datetime-local"].placeholder, input[type="month"].placeholder, input[type="week"].placeholder, input[type="time"].placeholder, input[type="number"].placeholder, input[type="search"].placeholder, input[type="color"].placeholder { color: #949494; }

/* Buttons ------------------------------------------------------------------- */
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { margin: 0; padding: 0; border: 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; overflow: visible; width: auto; vertical-align: baseline; background: none; color: inherit; font: inherit; }
button, input[type="reset"], input[type="submit"], input[type="button"], input[type="image"] { *display: inline; }

.button, button, input[type="reset"], input[type="submit"], input[type="button"] { -moz-transition-property: box-shadow; -webkit-transition-property: box-shadow; -o-transition-property: box-shadow; transition-property: box-shadow; -moz-transition-duration: 300ms; -webkit-transition-duration: 300ms; -o-transition-duration: 300ms; transition-duration: 300ms; font-size: 0.857em; line-height: 0.944em; -moz-border-radius: 1em; -webkit-border-radius: 1em; -o-border-radius: 1em; -ms-border-radius: 1em; -khtml-border-radius: 1em; border-radius: 1em; background: #005498; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(221, 221, 221, 0.25)), color-stop(100%, rgba(221, 221, 221, 0))), #005498; background: -webkit-linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: -moz-linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: -o-linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: linear-gradient(top, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; border-style: solid; border-width: 0.083em; padding: 0.389em; padding-left: 1.618em; padding-right: 1.618em; text-shadow: #4c4c4c 1px 1px 0; border-color: #4c4c4c; vertical-align: top; cursor: pointer; color: #dddddd; font-weight: bold; }
.button:hover, button:hover, input[type="reset"]:hover, input[type="submit"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="button"]:focus { -moz-box-shadow: #984400 0 0 0.5em; -webkit-box-shadow: #984400 0 0 0.5em; -o-box-shadow: #984400 0 0 0.5em; box-shadow: #984400 0 0 0.5em; }
.button:active, button:active, input[type="reset"]:active, input[type="submit"]:active, input[type="button"]:active { -moz-transition-property: none; -webkit-transition-property: none; -o-transition-property: none; transition-property: none; -moz-transition-duration: 1s; -webkit-transition-duration: 1s; -o-transition-duration: 1s; transition-duration: 1s; -moz-box-shadow: #984400 0 0 0.25em, inset #4c4c4c 1px 1px 1px; -webkit-box-shadow: #984400 0 0 0.25em, inset #4c4c4c 1px 1px 1px; -o-box-shadow: #984400 0 0 0.25em, inset #4c4c4c 1px 1px 1px; box-shadow: #984400 0 0 0.25em, inset #4c4c4c 1px 1px 1px; background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, rgba(221, 221, 221, 0.25)), color-stop(100%, rgba(221, 221, 221, 0))), #005498; background: -webkit-linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: -moz-linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: -o-linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; background: linear-gradient(bottom, rgba(221, 221, 221, 0.25), rgba(221, 221, 221, 0) 100%), #005498; }
.button[disabled], button[disabled], input[disabled][type="reset"], input[disabled][type="submit"], input[disabled][type="button"] { color: #888888; }

/* Form Helpers -------------------------------------------------------------- */
.errorlist { margin: 0; padding: 0; border: 0; list-style: none; color: red; }
.errorlist li { list-style-image: none; list-style-type: none; margin-left: 0px; }

.form-actions { text-align: right; }

/* Layout -------------------------------------------------------------- */
body > div { *zoom: 1; margin: auto; width: 97em; max-width: 100%; }
body > div:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

[role="banner"] { clear: both; margin-left: 1.031%; margin-right: 1.031%; overflow: hidden; *zoom: 1; padding-top: 1.618em; }

h1 { display: inline; float: left; width: 36.842%; margin-right: 1.053%; }

[role="navigation"] { display: inline; float: left; width: 24.211%; margin-right: 1.053%; }

.meta { display: inline; float: left; width: 36.842%; margin-right: 1.053%; display: inline; float: right; margin-right: 0; #margin-left: -1em; text-align: right; }

[role="main"] { clear: both; margin-left: 1.031%; margin-right: 1.031%; *zoom: 1; border-top-style: dotted; border-top-width: 0.071em; padding-top: 1.547em; border-bottom-style: dotted; border-bottom-width: 0.071em; padding-bottom: 1.547em; }
[role="main"]:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }

[role="contentinfo"] { clear: both; margin-left: 1.031%; margin-right: 1.031%; font-size: 0.857em; line-height: 1.888em; margin-bottom: 1.888em; font-style: italic; }
[role="contentinfo"] small { font: inherit; }

/* Login --------------------------------------------------------------------- */
#login { clear: both; padding-left: 25.263%; padding-right: 25.263%; }
#login form { margin-top: 1.618em; }
#login label { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }
#login li { margin-bottom: 0.809em; }

/* Modules ------------------------------------------------------------------- */
/* Filtering ----------------------------------------------------------------- */
#filter { clear: both; }
#filter ul { margin: 0; padding: 0; border: 0; list-style: none; }
#filter ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }
#filter .textual { display: inline; float: left; width: 49.474%; margin-right: 1.053%; margin-bottom: 1.618em; position: relative; }
#filter .textual label { position: absolute; clip: rect(0 0 0 0); overflow: hidden; margin: -1px; padding: 0; height: 1px; width: 1px; border: 0; }
#filter .textual input { clear: both; margin: 0; }
#filter .suggest { display: none; position: absolute; left: 0; right: 0; top: 2.427em; background: white; z-index: 900; }
#filter .suggest a:link, #filter .suggest a:visited { padding-top: 0.405em; border-bottom-style: solid; border-bottom-width: 0.071em; padding-bottom: 0.333em; overflow: hidden; *zoom: 1; padding-left: 1em; padding-right: 1em; display: block; color: #4c4c4c; border: 1px solid #dddddd; border-color: transparent #949494 #dddddd; border-width: 0 1px 1px; }
#filter .suggest a:focus, #filter .suggest a:hover, #filter .suggest a:active { background: #dddddd; }
#filter .suggest:not(:hover) li:first-child a:link, #filter .suggest:not(:hover) li:first-child a:visited { background: #dddddd; }
#filter .suggest li:last-child a:link, #filter .suggest li:last-child a:visited { border-bottom-color: #949494; }
#filter .suggest i { display: inline; float: right; padding-left: 1em; font-style: normal; color: #949494; }
#filter #filter:focus + .suggest { display: block; }
#filter h5 { margin: 0; padding: 0 0.25em; font-weight: normal; }
#filter .toggle { display: inline; float: left; width: 49.474%; margin-right: 1.053%; display: inline; float: right; margin-right: 0; #margin-left: -1em; margin-top: 0.405em; font-style: italic; text-transform: lowercase; }
#filter .content { clear: both; font-size: 0.857em; line-height: 1.416em; *zoom: 1; }
#filter .content:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
#filter small { color: #949494; }
#filter .compact .toggle a:link::before, #filter .compact .toggle a:visited::before { content: "show "; }
#filter .compact .toggle a:link::after, #filter .compact .toggle a:visited::after { content: " »"; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-1) label { background-color: #005498; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-2) label { background-color: #002e98; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-3) label { background-color: #000898; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-4) label { background-color: #1e0098; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-5) label { background-color: #440098; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-6) label { background-color: #6a0098; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-7) label { background-color: #900098; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-8) label { background-color: #98007a; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-9) label { background-color: #980054; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-10) label { background-color: #98002e; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-11) label { background-color: #980008; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-12) label { background-color: #981e00; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-13) label { background-color: #984400; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-14) label { background-color: #986a00; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-15) label { background-color: #989000; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-16) label { background-color: #7a9800; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-17) label { background-color: #549800; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-18) label { background-color: #2e9800; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-19) label { background-color: #089800; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-20) label { background-color: #00981e; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-21) label { background-color: #009844; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-22) label { background-color: #00986a; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-23) label { background-color: #009890; }
#filter .compact div[class^="filter-"]:nth-of-type(24n-24) label { background-color: #007a98; }
#filter .compact .long { height: auto !important; }
#filter .compact h5, #filter .compact input, #filter .compact label { display: none; }
#filter .compact li { display: inline; float: left; }
#filter .compact input:checked + label { margin-bottom: 0.944em; -moz-border-radius: 0.25em; -webkit-border-radius: 0.25em; -o-border-radius: 0.25em; -ms-border-radius: 0.25em; -khtml-border-radius: 0.25em; border-radius: 0.25em; display: block; margin-right: 0.5em; padding: 0.236em 0.472em; background: #dddddd; }
#filter .compact input:checked + label:hover small { display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; min-width: 12px; color: rgba(0, 0, 0, 0); background: url('../images/ui/x_sm.png?1303975078') no-repeat scroll center; vertical-align: baseline; }
#filter .compact input:checked + label:hover small { *display: inline; }
#filter .expanded .toggle a:link::before, #filter .expanded .toggle a:visited::before { content: "« hide "; }
#filter .expanded .toggle a:link::after, #filter .expanded .toggle a:visited::after { content: ""; }
#filter .expanded .content { margin-bottom: 0.944em; }
#filter .expanded .content [class^="filter-"] { display: inline; float: left; width: 11.579%; margin-right: 1.053%; margin-bottom: 0.809em; }
#filter .expanded .content [class^="filter-"]:nth-of-type(8n) { display: inline; float: right; margin-right: 0; #margin-left: -1em; }
#filter .expanded .content [class^="filter-"]:nth-of-type(8n+1) { clear: left; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-1) h3 { background-color: #005498; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-2) h3 { background-color: #002e98; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-3) h3 { background-color: #000898; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-4) h3 { background-color: #1e0098; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-5) h3 { background-color: #440098; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-6) h3 { background-color: #6a0098; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-7) h3 { background-color: #900098; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-8) h3 { background-color: #98007a; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-9) h3 { background-color: #980054; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-10) h3 { background-color: #98002e; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-11) h3 { background-color: #980008; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-12) h3 { background-color: #981e00; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-13) h3 { background-color: #984400; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-14) h3 { background-color: #986a00; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-15) h3 { background-color: #989000; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-16) h3 { background-color: #7a9800; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-17) h3 { background-color: #549800; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-18) h3 { background-color: #2e9800; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-19) h3 { background-color: #089800; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-20) h3 { background-color: #00981e; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-21) h3 { background-color: #009844; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-22) h3 { background-color: #00986a; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-23) h3 { background-color: #009890; }
#filter .expanded .content [class^="filter-"]:nth-of-type(24n-24) h3 { background-color: #007a98; }
#filter .expanded .long { overflow: hidden; height: 9.438em; min-height: 9.438em; max-height: 45.304em; border-bottom: 1px solid #dddddd; resize: vertical; }
#filter .expanded .long:hover { overflow-y: auto; }
#filter .expanded input { display: none; }
#filter .expanded label { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=38)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=38); opacity: 0.375; display: block; padding: 0.202em 0.405em; padding-left: 15px; background: url('../images/ui/plus_sm.png?1303498581') no-repeat scroll 3px; font-weight: normal; }
#filter .expanded label:hover { font-weight: bold; }
#filter .expanded small { display: inline; float: right; }
#filter .expanded input:checked + label { -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; background-image: url('../images/ui/check_sm.png?1303498520'); font-weight: bold; }
#filter .expanded input:checked + label:hover { background-image: url('../images/ui/x_sm.png?1303975078'); }

/* Lists -------------------------------------------------------------- */
.managelist { clear: both; margin: 0; }
.managelist button { margin: 0; padding: 0; border: 0; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; -moz-border-radius: 0; -webkit-border-radius: 0; -o-border-radius: 0; -ms-border-radius: 0; -khtml-border-radius: 0; border-radius: 0; text-shadow: none; overflow: visible; width: auto; vertical-align: baseline; background: none; color: inherit; font: inherit; }
.managelist button { *display: inline; }
.managelist .item { overflow: hidden; *zoom: 1; clear: both; }
.managelist .summary, .managelist .content { *zoom: 1; padding-top: 0.405em; padding-bottom: 0.405em; }
.managelist .summary:after, .managelist .content:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
.managelist .summary p, .managelist .summary h3, .managelist .summary h4 { margin-bottom: 0; }
.managelist .summary:focus, .managelist .summary:hover, .managelist .summary:active { outline: 0; background: rgba(221, 221, 221, 0.5); }
.managelist .open > .summary { background: #dddddd; }
.managelist .content { background: #dddddd; }
.managelist .id { text-align: right; }

.sortlinks:link, .listordering a:link, .sortlinks:visited, .listordering a:visited { display: block; position: relative; }
.sortlinks:link::after, .listordering a:link::after, .sortlinks:visited::after, .listordering a:visited::after { text-indent: -119988px; overflow: hidden; text-align: left; background-image: url('../images/ui/angle_up.png?1299180949'); background-repeat: no-repeat; background-position: 50% 50%; width: 9px; height: 9px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; content: " "; margin-left: 0.4em; background-image: none; vertical-align: baseline; }
.sortlinks:link::after, .listordering a:link::after, .sortlinks:visited::after, .listordering a:visited::after { *display: inline; }
.sortlinks:focus, .listordering a:focus, .sortlinks:hover, .listordering a:hover, .sortlinks:active, .listordering a:active { color: #984400; }
.sortlinks:focus::after, .listordering a:focus::after, .sortlinks:hover::after, .listordering a:hover::after, .sortlinks:active::after, .listordering a:active::after { background-image: url('../images/ui/angle_up.png?1299180949'); }
.sortlinks.asc:link::after, .listordering a.asc:link::after, .sortlinks.asc:visited::after, .listordering a.asc:visited::after { background-image: url('../images/ui/angle_up.png?1299180949'); }
.sortlinks.asc:focus::after, .listordering a.asc:focus::after, .sortlinks.asc:hover::after, .listordering a.asc:hover::after, .sortlinks.asc:active::after, .listordering a.asc:active::after { background-image: url('../images/ui/angle_down.png?1299180970'); }
.sortlinks.desc:link::after, .listordering a.desc:link::after, .sortlinks.desc:visited::after, .listordering a.desc:visited::after { background-image: url('../images/ui/angle_down.png?1299180970'); }
.sortlinks.desc:focus::after, .listordering a.desc:focus::after, .sortlinks.desc:hover::after, .listordering a.desc:hover::after, .sortlinks.desc:active::after, .listordering a.desc:active::after { background-image: url('../images/ui/angle_up.png?1299180949'); }

.listordering { overflow: hidden; *zoom: 1; margin-top: 0em; padding-top: 0.405em; padding-bottom: 0.405em; margin-bottom: 0em; background: #dddddd; font-weight: bold; }
.listordering ul { margin: 0; padding: 0; border: 0; list-style: none; }
.listordering ul li { list-style-image: none; list-style-type: none; margin-left: 0px; }

.listnav { *zoom: 1; margin-top: 0em; padding-top: 0.405em; padding-bottom: 0.405em; margin-bottom: 0.809em; padding-left: 0.5em; padding-right: 0.5em; clear: both; margin-top: -1px; background: #dddddd; white-space: nowrap; }
.listnav:after { content: "\0020"; display: block; height: 0; clear: both; overflow: hidden; visibility: hidden; }
.listnav p, .listnav ul { margin: 0; padding: 0; border: 0; }
.listnav .location, .listnav .perpage { display: inline; float: left; width: 24.211%; margin-right: 1.053%; }
.listnav .perpage { display: inline; float: right; margin-right: 0; #margin-left: -1em; text-align: right; }
.listnav .perpage strong { font-weight: normal; }
.listnav .perpage ul, .listnav .pagination { margin: 0; padding: 0; border: 0; overflow: hidden; *zoom: 1; display: inline; font-style: normal; }
.listnav .perpage ul li, .listnav .pagination li { list-style-image: none; list-style-type: none; margin-left: 0px; display: -moz-inline-box; -moz-box-orient: vertical; display: inline-block; vertical-align: middle; *vertical-align: auto; white-space: nowrap; }
.listnav .perpage ul li, .listnav .pagination li { *display: inline; }
.listnav .perpage ul li, .listnav .pagination li { vertical-align: baseline; }
.listnav .perpage ul li + li::before, .listnav .pagination li + li::before { content: "| "; color: #cccccc; }
.listnav .pagination { display: inline; float: left; width: 49.474%; margin-right: 1.053%; text-align: center; }
.listnav .current { font-weight: bold; }
