{% load mltforms %}

<h3>import addresses</h3>
<form method="POST" action="{% url map_import_addresses %}" id="import-address-form" enctype="multipart/form-data">
  {% csrf_token %}
  <ul>
    <li class="csv-file">
      {{ form.file.errors }}
      {{ form.file|label:"select a CSV file to import" }}
      {{ form.file }}
      <p class="help">
        CSV file should have columns "street, city, state" and no header row.
      </p>
    </li>
    <li class="source">
      {{ form.tag.errors }}
      {{ form.tag|label:"batch tag for this import" }}
      {{ form.tag }}
    </li>
  </ul>
  <div class="form-actions">
    <a href="#" title="close the import addresses lightbox">cancel</a> or
    <button title="import addresses" type="submit">import</button>
  </div>
</form>
