<section class="actions">
  <h3>List Actions</h3>

  <p class="bulkselect">
    <input type="checkbox" name="select_all_none" value="" id="select_all_none">
    <label for="select_all_none" title="select all/none">select all/none</label>
  </p>

  <nav class="listordering">
    <h4>sort by</h4>
    <ul>
      <li class="bystreet">
        <a href="#" class="field">street</a>
        <a href="#" class="dir asc">ascending</a>
      </li>
      <li class="bycity">
        <a href="#" class="field">city</a>
        <a href="#" class="dir asc">ascending</a>
      </li>
      <li class="bystate">
        <a href="#" class="field">state</a>
        <a href="#" class="dir asc">ascending</a>
      </li>
      <li class="byzip">
        <a href="#" class="field">zip</a>
        <a href="#" class="dir asc">ascending</a>
      </li>
      <li class="bymultipleunits">
        <a href="#" class="field">multiple units</a>
        <a href="#" class="dir desc">descending</a>
      </li>
      <li class="bycomplex none">
        <a href="#" class="field">complex</a>
        <a href="#" class="dir">none</a>
      </li>
      <li class="bypropertyID none">
        <a href="#" class="field">property ID</a>
        <a href="#" class="dir">none</a>
      </li>
      <li class="byneedsreview none">
        <a href="#" class="field">needs review</a>
        <a href="#" class="dir">none</a>
      </li>
    </ul>
  </nav>

  <ul class="bools">
    <li class="importexport">
      <a href="#lightbox-import-addresses" title="import addresses">import addresses</a>
      <a href="#lightbox-export-addresses" title="export addresses">export addresses</a>
    </li>

    <li class="approval">
      <button class="approve" type="submit" title="approve selected mappings">approve selected mappings</button>
      <button class="flag" type="submit" title="flag selected mappings">flag selected mappings</button>
    </li>

    <li class="addremove">
      <button class="delete_selected" type="submit" title="delete selected">delete selected</button>
      <a href="#lightbox-add-address" class="create" title="add address">add address</a>
    </li>
  </ul>

  {% include "includes/filter.html" %}

  <p class="listlength">325</p>

</section>
