<article id="address-id-{{ id }}" class="address">
  <input type="checkbox" id="select_{{ id }}" name="select" value="">

  <div class="content{% if edit %} editing{% endif %}">
    {% if not edit %}
    <label for="select_{{ id }}">
    {% endif %}
      <h3 class="adr">
        <div class="street-address" {% if edit %}contenteditable{% endif %}>3635 Van Gordon St.</div>
        <div class="locality" {% if edit %}contenteditable{% endif %}>Providence</div>,
        <div class="region" {% if edit %}contenteditable{% endif %}>RI</div>
        <div class="postal-code" {% if edit %}contenteditable{% endif %}>02909</div>
      </h3>
    {% if not edit %}
    </label>
    {% endif %}

    <div class="id{% if not mapped %} unmapped{% else %}{% if mapped != "blametern" %} approved{% endif %}{% endif %}">
      {% if mapped %}
        {% if mapped == "blametern" %}
          <input type="checkbox" name="flag_for_review_{{ id }}" value="" id="flag_for_review_{{ id }}" checked="checked">
        {% else %}
          <input type="checkbox" name="flag_for_review_{{ id }}" value="" id="flag_for_review_{{ id }}">
        {% endif %}
        <label for="flag_for_review_{{ id }}">flag for review</label>

        <label for="select_{{ id }}" class="value">111-222-3333</label>
      {% else %}
        {% if edit %}
          <p class="value">not mapped</p>
        {% else %}
          <label for="select_{{ id }}" class="value">not mapped</label>
        {% endif %}
      {% endif %}
    </div>

    <ul class="controls">
      <li><a href="#" title="{% if edit %}save{% else %}edit{% endif %}">edit</a></li>
      <li><a href="#" title="history">history</a></li>
      <li><button type="submit" name="delete" value="">delete</button></li>
    </ul>

    <div class="details">
      <p class="summary">details</p>
      <div class="more">

        <div class="complex">
          {% if complex %}
            <button name="complex" type="submit" class="single">single unit</button>
            <p class="name" {% if edit %}contenteditable{% endif %}>{{ complex }}</p>
          {% else %}
            <button name="complex" type="submit" class="multiple">multiple units</button>
            <p class="name">single unit</p>
          {% endif %}
        </div>

        {% if origin or mapped %}
          <div class="byline">
            {% if origin %}
              <p class="hcard">
                {% if origin == "imported"  %}Imported{% endif %}
                {% if origin == "created" %}Created{% endif %}
                by <cite class="fn">[username]</cite>
                {% if origin == "imported"  %}from [source]{% endif %}
                on <time pubdate>[timestamp]</time>.
              </p>
            {% endif %}

            {% if mapped %}
              <p class="hcard">
                Mapped by <cite class="fn">{{ mapped }}</cite>
                on <time class="mapped">[timestamp]</time>.
              </p>
            {% endif %}
          </div>
        {% endif %}

        {% if notes %}
          <p class="notes" {% if edit %}contenteditable{% endif %}>Notes about this address</p>
        {% endif %}
      </div>
    </div>

    {% if edit %}
      <button class="savechanges" title="save changes">save changes</button>
    {% endif %}

  </div>
</article>