{% load addresslist %}

<article id="address-id-{{ address.id }}" class="address"{% if address.parcel %} data-latitude="{{ address.parcel.latitude }}" data-longitude="{{ address.parcel.longitude }}"{% endif %} data-index="{{ address.index }}">
  <input type="checkbox" id="select_{{ address.id }}" name="select" value="{{ address.id }}" class="item-select">

  <div class="content"> {# @@@ editing: 'editing' #}
    <span class="mapkey">{{ address.index|letter_key }}</span>
    {# @@@ editing: remove label wrapper #}
    <label for="select_{{ address.id }}">
      <h3 class="adr">
        {# @@@ editing: split into component parts w/ 'contenteditable' #}
        <div class="street-address">{{ address.street }}</div>
        {# @@@ editing: add 'contenteditable' attribute to all these #}
        <div class="locality">{{ address.city }}</div>,
        <div class="region">{{ address.state }}</div>
        {% if address.complex_name %}
          {# @@@ contenteditable #}
          <div class="complex-name">[{{ address.complex_name }}]</div>
        {% endif %}
      </h3>
    </label>

    <div class="id{% if not address.parcel %} unmapped{% else %}{% if not address.needs_review %} approved{% endif %}{% endif %}">
      {% if address.parcel %}
        <input type="checkbox" name="flag_for_review" value="{{ address.id }}" id="flag_for_review_{{ address.id }}"{% if address.needs_review %} checked="checked"{% endif %} class="flag">
        <label for="flag_for_review_{{ address.id }}" class="action-flag">flag for review</label>

        <label for="select_{{ address.id }}" class="value">{{ address.pl }}</label>
      {% else %}
        <label for="select_{{ address.id }}" class="value">not mapped</label>
      {% endif %}
    </div>

    <ul class="controls">
      {# @@@ editing: change class, title and text to '[action-]cancel' #}
      <li><a href="#" title="edit" class="action-edit">edit</a></li>
      <li><a href="#{# @@@ link to revision history #}" title="history" class="action-history">history</a></li>
      <li><button type="submit" name="delete" value="{{ address.id }}" title="delete" class="action-delete">delete</button></li>
      <li>
        {% if address.multi_units %}
          <button name="complex" type="submit" class="action-complex single" value="{{ address.id }}" title="set as single unit">single unit</button>
        {% else %}
          <button name="complex" type="submit" class="action-complex multiple" value="{{ address.id }}" title="set as multiple units">multiple units</button>
        {% endif %}
      </li>
    </ul>

    <div class="details">
      <p class="summary action-info" title="show details">details</p>
      <div class="more">

        {% if address.notes %}
          {# @@@ contenteditable #}
          <p class="notes">{{ address.notes }}</p>
        {% endif %}

        {% if address.import_source or address.mapped_by %}
          <div class="byline">
            {% if address.import_source %}
              <p class="hcard">
                {% if address.import_source == "web-ui" %}
                Created
                {% else  %}
                Imported
                {% endif %}
                {% if address.imported_by %}
                by <cite class="fn">{{ address.imported_by }}</cite>
                {% endif %}
                {% if address.import_source and address.import_source != "web-ui" %}
                from <span class="from">{{ address.import_source }}</span>
                {% endif %}
                on <time pubdate>{{ address.import_timestamp }}</time>
              </p>
            {% endif %}

            {% if address.parcel %}
              <p class="hcard">
                Mapped by <cite class="fn">{{ address.mapped_by }}</cite>
                on <time class="mapped">{{ address.mapped_timestamp }}</time>
              </p>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>

    {# @@@ editing: <button class="savechanges" title="save changes">save changes</button> #}

  </div>
</article>
