<nav id="filter">
  <h4 class="navhead">List Filtering</h4>
  <form>

    <div class="bystatus">
      <ul>
        <li><a href="#" class="none">show all</a></li>
        <li><a href="#" class="approved">show approved</a></li>
        <li><a href="#" class="flagged">show flagged</a></li>
        <li><a href="#" class="unmapped">show unmapped</a></li>
      </ul>
    </div>

    <div class="textual">
      <label for="filter_input">filter</label>
      <input type="text" name="filter" value="" id="filter_input" placeholder="filter by address, ID, date, etc.">
      <ul class="suggest">
        <li><a href="#"><b>Aug</b>usta Blvd. <i>[street]</i></a></li>
        <li><a href="#"><b>Aug</b>usta, GA <i>[city]</i></a></li>
        <li><a href="#"><b>Aug</b>ust 3, 2011 <i>[imported]</i></a></li>
        <li><a href="#"><b>Aug</b>ust 3, 2011 <i>[mapped]</i></a></li>
      </ul>
    </div>

    <div class="visual">
      <ul>
        <li>
          <input type="checkbox" name="providence" value="" id="providence_filter_01" checked="checked">
          <label for="providence_filter_01">providence</label>
        </li>
        <li>
          <input type="checkbox" name="providence" value="" id="providence_filter_02" checked="checked">
          <label for="providence_filter_02">providence</label>
        </li>
        <li>
          <input type="checkbox" name="providence" value="" id="providence_filter_03" checked="checked">
          <label for="providence_filter_03">providence</label>
        </li>
      </ul>
    </div>

    <button class="refresh" title="refresh list">refresh</button>

  </form>
</nav>