{% load icanhaz %}

<nav id="filter">
  <h4 class="navhead">List Filtering</h4>
  <form>

    <div class="bystatus">
      <ul>
        <li><a href="#" class="none">show all</a></li>
        <li><a href="#" class="approved">show approved</a></li>
        <li><a href="#" class="flagged">show flagged</a></li>
        <li><a href="#" class="unmapped">show unmapped</a></li>
      </ul>
    </div>

    <div class="textual">
      <label for="filter_input">filter</label>
      <input type="text" name="filter" value="" id="filter_input" placeholder="filter by address, ID, date range, etc." autocomplete="off" data-autocomplete-url="{% url map_filter_autocomplete %}">
      {% icanhaz "filter_suggestion" %}
      <ul class="suggest">
      </ul>
    </div>

    <div class="visual">
      {% icanhaz "filter_applied" %}
      <ul>
      </ul>
    </div>

    <button class="refresh" title="refresh list">refresh</button>

  </form>

  <p class="listlength">0</p>
</nav>
