<nav id="filter">
  <h3 class="navhead">List Filtering</h3>
  <form>
    <section class="textual">
      <h4 class="navhead">Basic Filtering</h4>
      <label for="filter">filter</label>
      <input type="text" name="filter" value="" id="filter" placeholder="filter by street, city, state, zip, complex, property ID, etc.">
      <ul class="suggest">
        <li><a href="#"><b>da</b>vol sq <i>[street]</i></a></li>
        <li><a href="#"><b>da</b>yton <i>[city]</i></a></li>
        <li><a href="#"><b>da</b>nforth st <i>[street]</i></a></li>
      </ul>
    </section>

    <section class="visual compact">
      <h4 class="toggle"><a href="#">Advanced Filtering</a></h4>
      <div class="content">
        <section class="filter-street">
          <h5>street</h5>
          <ul>
            <li>
              <input type="checkbox" name="davol_sq" value="" id="davol_sq">
              <label for="davol_sq">davol sq <small>(10)</small></label>
            </li>
            <li>
              <input type="checkbox" name="danforth_st" value="" id="danforth_st">
              <label for="danforth_st">danforth st <small>(2)</small></label>
            </li>
            <li>
              <input type="checkbox" name="blackstone_blvd" value="" id="blackstone_blvd">
              <label for="blackstone_blvd">blackstone blvd <small>(135)</small></label>
            </li>
            <li>
              <input type="checkbox" name="broadway_st" value="" id="broadway_st">
              <label for="broadway_st">broadway st <small>(35)</small></label>
            </li>
            <li>
              <input type="checkbox" name="louisquisset_pike" value="" id="louisquisset_pike">
              <label for="louisquisset_pike">louisquisset pike <small>(23)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-city">
          <h5>city</h5>
          <ul class="long">
            <li>
              <input type="checkbox" name="providence" value="" id="providence">
              <label for="providence">providence <small>(237)</small></label>
            </li>
            <li>
              <input type="checkbox" name="hartford" value="" id="hartford">
              <label for="hartford">hartford <small>(13)</small></label>
            </li>
            <li>
              <input type="checkbox" name="boston" value="" id="boston">
              <label for="boston">boston <small>(24)</small></label>
            </li>
            <li>
              <input type="checkbox" name="warwick" value="" id="warwick">
              <label for="warwick">warwick <small>(12)</small></label>
            </li>
            <li>
              <input type="checkbox" name="woonsocket" value="" id="woonsocket">
              <label for="woonsocket">woonsocket <small>(5)</small></label>
            </li>
            <li>
              <input type="checkbox" name="dayton" value="" id="dayton">
              <label for="dayton">dayton <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="greenville" value="" id="greenville">
              <label for="greenville">greenville <small>(23)</small></label>
            </li>
            <li>
              <input type="checkbox" name="pawtucket" value="" id="pawtucket">
              <label for="pawtucket">pawtucket <small>(34)</small></label>
            </li>
            <li>
              <input type="checkbox" name="north_seekonk" value="" id="north_seekonk">
              <label for="north_seekonk">north seekonk <small>(14)</small></label>
            </li>
            <li>
              <input type="checkbox" name="rehoboth" value="" id="rehoboth">
              <label for="rehoboth">rehoboth <small>(6)</small></label>
            </li>
            <li>
              <input type="checkbox" name="newport" value="" id="newport">
              <label for="newport">newport <small>(68)</small></label>
            </li>
            <li>
              <input type="checkbox" name="fall_river" value="" id="fall_river">
              <label for="fall_river">fall river <small>(13)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-state">
          <h5>state</h5>
          <ul>
            <li>
              <input type="checkbox" name="ri" value="" id="ri">
              <label for="ri">rhode island <small>(457)</small></label>
            </li>
            <li>
              <input type="checkbox" name="ma" value="" id="ma">
              <label for="ma">massachusetts <small>(43)</small></label>
            </li>
            <li>
              <input type="checkbox" name="cn" value="" id="cn">
              <label for="cn">connecticut <small>(48)</small></label>
            </li>
            <li>
              <input type="checkbox" name="oh" value="" id="oh">
              <label for="oh">ohio <small>(23)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-zip">
          <h5>zip</h5>
          <ul>
            <li>
              <input type="checkbox" name="02901" value="" id="02901">
              <label for="02901">02901 <small>(23)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02902" value="" id="02902">
              <label for="02902">02902 <small>(35)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02903" value="" id="02903">
              <label for="02903">02903 <small>(178))</small></label>
            </li>
            <li>
              <input type="checkbox" name="02904" value="" id="02904">
              <label for="02904">02904 <small>(38)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02905" value="" id="02905">
              <label for="02905">02905 <small>(95)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02906" value="" id="02906">
              <label for="02906">02906 <small>(256)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02907" value="" id="02907">
              <label for="02907">02907 <small>(24)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02908" value="" id="02908">
              <label for="02908">02908 <small>(26)</small></label>
            </li>
            <li>
              <input type="checkbox" name="02909" value="" id="02909">
              <label for="02909">02909 <small>(45)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-complex">
          <h5>complex</h5>
          <ul>
            <li>
              <input type="checkbox" name="carrol_tower" value="" id="carrol_tower">
              <label for="carrol_tower">carrol tower <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="dominica_manor" value="" id="dominica_manor">
              <label for="dominica_manor">dominica manor <small>(6)</small></label>
            </li>
          </ul>
        </section>
        <section class="filter-propertyID">
          <h5>property ID</h5>
          <ul>
            <li>
              <input type="checkbox" name="111_222_3333" value="" id="111_222_3333">
              <label for="111_222_3333">111-222-3333 <small>(3)</small></label>
            </li>
            <li>
              <input type="checkbox" name="444_555_6666" value="" id="444_555_6666">
              <label for="444_555_6666">444-555-6666 <small>(6)</small></label>
            </li>
          </ul>
        </section>
      </div>
    </section>

  </form>
</nav>