{% load icanhaz %}

<aside id="lightbox-add-address" data-add-address-url="{% url map_add_address %}">
<div>
  {# includes/add_address/form.html is pulled in via ajax #}
</div>
</aside>

<aside id="lightbox-import-addresses" data-import-addresses-url="{% url map_import_addresses %}">
<div>
  {# import/_form.html is pulled in via ajax #}
</div>
</aside>

<aside id="lightbox-export-addresses">
<div>
  <h3>export addresses</h3>
  {% icanhaz "export_filter" %}
  <form id="export-address-form" action="{% url map_export_addresses %}" method="GET">
    <label for="export_addresses">select an export file format</label>
    <select name="export_format" id="export_addresses">
      {% for format in EXPORT_FORMATS %}
      <option value="{{ format }}">{{ format }}</option>
      {% endfor %}
    </select>
    <div class="form-actions">
      <a href="#" title="close">cancel</a> or
      <button title="export addresses" type="submit" name="action-export" value="">export addresses</button>
    </div>
  </form>
</div>
</aside>
