<aside id="lightbox-add-address">
  <div>
    <h3>add an address</h3>
    <form id="add-address-form">
      <ul class="adr">
        <li>
          <label for="street_address">street address</label><input type="text" name="street_address" value="" id="street_address" placeholder="street address" required>
        </li>
        <li>
          <label for="locality">locality</label><input type="text" name="locality" value="" id="locality" placeholder="locality" required>
        </li>
        <li>
          <label for="region">region</label><input type="text" name="region" value="" id="region" placeholder="region" required>
        </li>
        <li>
          <label for="postal_code">postal code</label><input type="text" name="postal_code" value="" id="postal_code" placeholder="postal code" required>
        </li>
        <li>
          <input type="checkbox" name="complex" value="" id="complex"><label for="complex">complex</label>
          <label for="complex_name">complex name</label><input type="text" name="complex_name" value="" id="complex_name" placeholder="complex name">
        </li>
      </ul>
      <p class="note">
        <label for="address_note">complex name</label>
        <textarea name="address note" id="address_note" placeholder="optionally add a note"></textarea>
      </p>
      <div class="form-actions">
        <a href="#" title="close the address form lightbox">cancel</a> or
        <button type="submit">add address</button>
      </div>
    </form>
  </div>
</aside>