<aside id="lightbox-add-address" data-add-address-url="{% url map_add_address %}">
<div>
  {# includes/add_address/form.html is pulled in via ajax #}
</div>
</aside>

<aside id="lightbox-import-addresses" data-import-addresses-url="{% url map_import_addresses %}">
<div>
  {# includes/import_addresses/form.html is pulled in via ajax #}
</div>
</aside>

<aside id="lightbox-export-addresses">
<div>
  <h3>export addresses</h3>
  <form id="export-address-form">
    <label for="export_addresses">select an export file format</label>
    <select name="export_addresses" id="export_addresses">
      <option value="XLS">XLS</option>
      <option value="KML">KML</option>
      <option value="CSV">CSV</option>
      <option value="SHP">SHP</option>
    </select>
    <div class="form-actions">
      <a href="#" title="close">cancel</a> or
      <button title="export addresses" type="submit" name="action-export" value="">export addresses</button>
    </div>
  </form>
</div>
</aside>
