{# load pagination #}

<nav class="listnav">
  <h3 class="navhead">List Navigation</h3>
  <p class="location">showing 1-30 of 450</p>
  <ul class="pagination">
    <li>
      <a href="#" class="prev">&laquo; previous</a>
    </li>
    <li>
      <a href="#" class="page">2</a>
    </li>
    <li>
      <span class="current page">3</span>
    </li>
    <li>
      <a href="#" class="page">4</a>
    </li>
    <li>
      <a href="#" class="next">next &raquo;</a>
    </li>
  </ul>
  <div class="perpage">
    <strong>per page:</strong>
    <ul>
      <li>
        <a href="#">20</a>
      </li>
      <li>
        <span class="current">30</span>
      </li>
      <li>
        <a href="#">50</a>
      </li>
      <li>
        <a href="#">100</a>
      </li>
    </ul>
  </div>
</nav>
