<article id="address-history-{{ id }}" class="revision">
  <input type="checkbox" id="select-{{ id }}" name="select" value="" class="item-select">

  <div class="content">
    <label for="select-{{ id }}" class="changes">
      <h3 class="blame hcard">
        Changed by <cite>username</cite> <br />
        on <time>timestamp</time>
      </h3>

      <section class="new address">
        <h4 class="adr">
          <div class="street-address">10 Davol Sq</div>
          <span class="locality">Providence</span>,
          <span class="region">RI</span>
          <span class="complex-name">[complex name]</span>
        </h4>
        <div class="id">
          <span class="flag-for-review"><mark>flagged for review</mark></span>
          <span class="value"><mark>21 222</mark></span>
        </div>
        <p class="complex single"><mark>single unit</mark></p>
        <p class="notes">optional notes on this address.</p>
      </section>

      <section class="old address">
        <h4 class="adr">
          <div class="street-address">10 Davol Sq</div>
          <span class="locality">Providence</span>,
          <span class="region">RI</span>
          <span class="complex-name">[complex name]</span>
        </h4>
        <div class="id">
          <div class="value"><mark>unmapped</mark></div>
        </div>
        <p class="complex multiple"><mark>multiple units</mark></p>
        <p class="notes">optional notes on this address.</p>
      </section>
    </label>

    <div class="controls">
      <button class="action-revert" title="revert this change">revert this change</button>
      <a href="#" class="action-history" title="show all revisions for this address">show all revisions for this address</a>
    </div>
  </div>
</article>
