{% extends "base.html" %}
{% load range %}

{% block navigation %}
  <a href="{% url history %}" class="history">History</a>
{% endblock navigation %}

{% block content %}
<section id="addresstable">
  <h2>Address Table</h2>
  <form id="addressform">

    {% include "includes/actions.html" %}

    <div class="managelist" data-addresses-url="{% url map_addresses %}" data-geocode-url="{% url map_geocode %}" data-actions-url="{% url map_address_actions %}"{% if user_trusted %} data-trusted="trusted"{% endif %}>

      <aside class="load">
        <p>loading addresses...</p>
      </aside>

    </div>
  </form>
</section>

<aside id="mapping" data-parcel-geojson-url="{% url map_geojson %}" data-associate-url="{% url map_associate %}">
  <h2>Parcel Map</h2>
  <div id="map"></div>
  <div id="mapinfo"></div>
</aside>

{% endblock content %}

{% block body-end %}
<div id="lightboxes">
  {% include "includes/lightbox.html" %}
</div>
{% endblock %}

{% block jstemplates %}
  {% load icanhaz %}
  {% icanhaz "parcelinfo" %}
  {% icanhaz "address" %}
{% endblock %}
