{% extends "base.html" %}

{% block content %}
<section id="addresstable">
  <h2>Address Table</h2>
  <form id="addressform">

    {# include "includes/filter.html" #}
    {% include "includes/actions.html" %}

    <!--
      <nav class="listordering">
        <h3>sort by</h3>
        <ul>
          <li class="bystreet">
            <a href="#">street</a>
          </li>
          <li class="bycity">
            <a href="#">city</a>
          </li>
          <li class="bystate">
            <a href="#">state</a>
          </li>
          <li class="byzip">
            <a href="#">zip</a>
          </li>
          <li class="bymultipleunits">
            <a href="#">multiple units</a>
          </li>
          <li class="bycomplex">
            <a href="#">complex</a>
          </li>
          <li class="bypropertyID">
            <a href="#">property ID</a>
          </li>
          <li class="byneedsreview">
            <a href="#">needs review</a>
          </li>
        </ul>
      </nav>

    -->

    <div class="managelist">

      <article id="address-id-01" class="address">
        <input type="checkbox" id="select_01" name="select" value="">

        <div class="content">
          <label for="select_01">
            <h3 class="adr" title="3635 Van Gordon St., Providence, RI 02909">
              <span class="street-address">3635 Van Gordon St.</span>
              <span class="locality">Providence</span>
              <abbr class="region">RI</abbr>
              <span class="postal-code">02909</span>
            </h3>
          </label>

          <div class="id">
            <button name="approve" type="submit" value="" class="approval">approve</button>
            <label for="select_01" class="value">111-222-3333</label>
          </div>

          <ul class="controls">
            <li><a href="#" title="edit">edit</a></li>
            <li><a href="#" title="history">history</a></li>
            <li><button type="submit" name="delete" value="">delete</button></li>
          </ul>

          <div class="details">
            <p class="summary">details</p>
            <div class="more">
              <div class="complex">
                <button name="complex" type="submit" class="multiple">multiple units</button>
                <span class="name">single unit</span>
              </div>
              <div class="byline">
                <!-- if imported -->
                <p class="hcard">
                  Imported by <cite class="fn">[username]</cite> from [source]
                  on <time pubdate>[timestamp]</time>.
                  <!-- elseif created manually
                    Created by <cite class="fn">[username]</cite>
                    on <time pubdate>[timestamp]</time>
                  -->
                </p>
                <!-- end if -->
                <!-- if mapped -->
                <p class="hcard">
                  Mapped by <cite class="fn">[username]</cite>
                  on <time class="mapped">[timestamp]</time>.
                </p>
                <!-- end if -->
              </div>

              <p class="notes">Notes about this address</p>
            </div>
          </div>

        </div>
      </article>

    </div>

    {# include "includes/listnav.html" #}

  </form>
</section>

<figure id="map">
  <figcaption>map</figcaption>
  <div class="content"></div>
</figure>

{% endblock content %}