{% extends "base.html" %}

{% block bodyclasses %}section-history{% endblock bodyclasses %}

{% block navigation %}
  <a href="/" rel="home" class="home">Home</a>
{% endblock navigation %}

{% block content %}

<section id="history">
  <h2>Revision History</h2>

  {% include "history/_history_actions.html" %}

  <form method="POST" id="history-form" class="revisionlist" data-changes-url="{% url map_history %}">

    <aside class="load">
      <p>loading changes...</p>
    </aside>

  </form>
</section>

{% endblock content %}

{% block jstemplates %}
  {% load icanhaz %}
  {% icanhaz "revision" %}
{% endblock %}