{% extends "base.html" %}

{% block bodyclasses %}section-history{% endblock bodyclasses %}

{% block content %}

<section id="history">
  <h2>Revision History</h2>

  {% include "history/_history_actions.html" %}

  <form method="POST" id="history-form" class="revisionlist" data-changes-url="{% url map_history %}">

    {% include "includes/revision.html" with id="01" %}
    {% include "includes/revision.html" with id="02" %}
    {% include "includes/revision.html" with id="03" %}

  </form>
</section>

{% endblock content %}
