// Actions -------------------------------------------------------------------

.actionbutton
  +no-style-button

.action-history
  +icon('ui/history.png')
.action-delete
  @extend .actionbutton
  +icon('ui/trash.png')
  height: $base-rhythm-unit
.action-edit
  +icon('ui/pencil.png')
.action-cancel
  +icon('ui/x.png')
.action-complex
  @extend .actionbutton
  +icon('ui/house.png','ui/bldg.png')
  height: rhythm(1)
  &.single
    +icon('ui/bldg.png','ui/house.png')
.action-info
  +icon('ui/info.png')

.action-flag
  .address &
    +icon('ui/warning.png')
    +opacity(0)

// Map Key -------------------------------------------------------------------

.mapkey
  +adjust-font-size-to($medpx)
  +padding-leader(.25,$medpx)
  +transition(all,300ms)
  +opacity(1)
  +cond
  +demi
  position: absolute
  left: 0
  width: columns(1,8)
  color: $alt
  text-align: right
  &::after
    content: "."

// Loading -------------------------------------------------------------------

.load
  +demi
  +padding-leader
  +padding-trailer
  +hpadding($gutter-width + columns-width(1))
  +box-shadow(rgba($base,.5) 0 -1px rhythm(.25) inset)
  +background-image(linear-gradient(top,rgba($lighter,1),rgba($lighter,0),rgba($base,0),rgba($base,$small)))
  background: rgba($light,.25)
  text-align: center

// Address List --------------------------------------------------------------

#addresstable
  +column-grid-background(8,$col-width,$gutter-width,0em,$force-fluid:true)
  width: rhythm(20.5)
  counter-reset: address
  h2
    +gone

.managelist
  overflow: hidden
  overflow-y: scroll
  overflow-x: hidden

  p, ul
    margin: 0

  .address
    clear: both
    counter-increment: address

    .flag
      +gone
      &:checked
        + .action-flag
          +opacity(1)
          #{$focus}
            +opacity(.75)

    &::before
      +cond
      content: counter(address, decimal-leading-zero) "."
      position: absolute
      right: columns(7,8) + gutter(8)
      top: rhythm(1.3)
      color: rgba($base,0)

    .content
      padding-right: $gutter-width

    .locality, .region, .postal-code, .complex-name
      +inline-block

    .id
      color: $alt
      .value, .action-flag
        +inline-block
      &.unmapped
        .value
          color: $accent

    .controls, .summary
      +opacity(0)
      +transition(opacity,.3s)
    .controls
      +no-style-list
      +float(right)
      li
        +float(left)
    .summary
      +float(right)
      margin: 0

    &:hover
      .controls
        +opacity(1)
      .summary
        +opacity(.75)
        #{$focus}
          +opacity(1)
      .action-flag
        +opacity(.5)
        #{$focus}
          +opacity(1)
      &::before
        color: rgba($base,.5)

    &.expanded
      .controls
        +opacity(.5)
      .summary
        +opacity(.25)
      &:hover
        .controls
          +opacity(1)
        .summary
          +opacity(.75)

    .more
      clear: both
      padding-left: columns(1,8) + gutter(8)
      color: $mid

    .byline
      +padding-leader(.5)
      +trailer(.5)
      +italic
      cite, time, .from
        +demi
        +font-style-normal
        color: $base

    .savechanges
      +icon('ui/disk_med.png')
      +opacity(0)
      +transition(all,300ms)
      height: rhythm(1)
      position: absolute
      top: rhythm(.25)
      right: columns(7,8) + gutter(8)

    &.editing
      background: rgba(mix(yellow,#eee), $xxxsmall)
      .mapkey
        +opacity(0)
      .savechanges
        +opacity(1)
