/* Filtering -----------------------------------------------------------------

#filter
  +float(left)
  width: 100% - (columns(4,8)/3)
  position: relative

  // Textual -----------------------------------------------------------------

  .textual
    label
      +gone
    input
      +full(6)
      margin: 0
      background: rgba(white,.125)

  .suggest
    display: none
    position: absolute
    left: 0
    right: 0
    top: rhythm(1.5)
    background: #fff
    z-index: 900
    a
      #{$link}
        +padding-leader(.25)
        +trailing-border(1px,.25)
        +clearfix
        +hpadding(1em)
        display: block
        color: $base
        border: 1px solid $light
          color: transparent $mid $light
          width: 0 1px 1px
      #{$focus}
        background: $light
    &:not(:hover)
      li:first-child
        a
          #{$link}
            background: $light
    li:last-child
      a
        #{$link}
          border-bottom-color: $mid
    i
      +float(right)
      padding-left: 1em
      font-style: normal
      color: $mid
  #filter:focus + .suggest
    display: block

  .visual
    position: absolute
    top: 0
    right: 0
    width: rhythm(1.5)
    height: rhythm(1.5)
    background: image-url('ui/list.png') no-repeat scroll center
    ul
      +box-shadow
      display: none
      position: absolute
      top: 100%
      right: 0
      width: fixed(3)
      background: white
      z-index: 900
    label
      display: none
      padding: rhythm(.25) rhythm(.5)
      #{$focus}
        background: image-url('ui/x.png') no-repeat scroll 95% center
    input
      +gone
      &:checked + label
        display: block
    &:hover
      ul
        display: block
