/* Filtering -----------------------------------------------------------------

#filter
  +float(left)
  +background-image(linear-gradient(right,rgba($light,.5),rgba($light,0) rhythm(3),rgba($light,0)))
  width: rhythm(17.5)
  position: relative

  // Textual -----------------------------------------------------------------

  .textual
    +float(left)
    position: relative
    width: rhythm(13)
    label
      +gone
    input
      +full(6)
      margin: 0
      background: rgba(white,.125)

  .suggest
    display: none
    position: absolute
    left: 0
    right: 0
    top: rhythm(1.5)
    background: #fff
    z-index: 900
    a
      #{$link}
        +padding-leader(.25)
        +trailing-border(1px,.25)
        +clearfix
        +hpadding(1em)
        display: block
        color: $base
        border: 1px solid $light
          color: transparent $mid $light
          width: 0 1px 1px
      &.selected
        background: $light
    li:last-child
      a
        #{$link}
          border-bottom-color: $mid
    i
      +float(right)
      padding-left: 1em
      font-style: normal
      color: $mid
    small
      color: $mid
      font-size: inherit
      line-height: inherit

  .visual, .bystatus
    position: relative
    height: rhythm(1.5)
    ul
      display: none
      position: absolute
      top: 100%
      width: fixed(3)
      background: white
      z-index: 900
    &:hover
      ul
        +box-shadow
        display: block

  .visual
    +float(left)
    width: rhythm(1.5)
    background: image-url('ui/list.png') no-repeat scroll center
    ul
      right: 0
    label
      display: none
      padding: rhythm(.25) rhythm(.5)
      #{$focus}
        background: image-url('ui/x.png') no-repeat scroll 95% center
    input
      +gone
      &:checked + label
        display: block

  .bystatus
    +float(left)
    width: rhythm(1.5)
    background: image-url('ui/filter.png') no-repeat scroll center
    ul
      left: 0
    a
      #{$link}
        display: block
        padding: rhythm(.25) rhythm(.5) rhythm(.25) image-width('ui/filter.png') + $smallpx*2
        background: image-url('ui/filter.png') no-repeat scroll $smallpx
        &.approved
          background-image: image-url('ui/thumb_up.png')
        &.flagged
          background-image: image-url('ui/warning.png')
        &.unmapped
          background-image: image-url('ui/x.png')

  .refresh
    +float(left)
    +icon('ui/refresh.png')
    width: rhythm(1.5)
    height: rhythm(1.5)
