// 1452px Grid -----------------------------------------------------------------
// (29*3em + 28*1em + 2em) = 117em = 1404px
// 60px + 12px x 20px

$total-cols         : 29
$col-width          : rhythm(2)
$gutter-width       : rhythm(.5)
$side-gutter-width  : $gutter-width

/* Layout --------------------------------------------------------------

.container
  +pie-clearfix
  width: 100%
  min-width: 65em

[role="banner"]
  @extend .container
  +clearfix
  +padding-leader(.5)
  +padding-trailer(.5)

h1
  +columns(6)
  +alpha
  +padding-leader(.25,$medpx)
  +padding-trailer(.25,$medpx)
  a
    #{$link}
      display: block
      color: $green
    #{$focus}
      color: $accent

#messages
  +no-style-list
  +stretch-x(columns(6)+gutter(),columns(11)+gutter())
  +border-radius
  +box-shadow($base 0 1px .25em)
  z-index: 999
  .loggedout &
    right: columns(6)+gutter()
  p
    margin: 0

  .message
    +clearfix
    padding: rhythm(.25) rhythm(.5)
    background: rgba($light,.25)
    position: relative
    &:first-child
      +border-top-radius
    &:last-child
      +border-bottom-radius
    + .message
      +leading-border(1px,.25)
      border-color: rgba($base,.25)
    p
      +columns(13,14)

  .close
    +columns(1,14)
    +omega(14)
    +icon('ui/x.png')

  .success
    background: rgba(200,250,200,.95)
  .warning
    background: rgba(250,250,200,.95)
  .error
    background: rgba(250,200,200,.95)

[role="navigation"]
  +columns(4)
  +omega
  text-align: right
  a
    #{$link}
      +border-radius($xsmallem)
      +padding-leader(.25)
      +padding-trailer(.25)
      +hpadding($normpx)
      +inline-block
      text-align: center
      background: rgba($light,$xsmall) no-repeat scroll $normpx
    #{$focus}, &.active
      background-color: rgba($light,$small)

  .history
    #{$link}
      padding-left: $normpx + image-width('ui/history.png') + $xsmallpx
      background-image: image-url('ui/history.png')
  .home
    #{$link}
      padding-left: $normpx + image-width('ui/pin_target.png') + $xsmallpx
      background-image: image-url('ui/pin_target.png')
  .parcels
    #{$link}
      +replace-text('ui/upload.png')
      width: rhythm(1.25)
      padding:
        left: 0
        right: 0

.meta
  +columns(7)
  +float(right)
  +padding-leader(.25)
  +padding-trailer(.25)
  text-align: right

[role="main"]
  @extend .container
  +clearfix
  position: relative
  background: #fff

[role="contentinfo"]
  +border-top-right-radius
  +transition(width 300ms)
  position: fixed
  left: rhythm(20.5)
  bottom: 0
  padding: rhythm(.25) rhythm(.5)
  background: rgba($alt-lightest,.85)
  overflow: hidden
  width: rhythm(.75)
  white-space: nowrap
  z-index: 900
  .section-history &, .section-account &, .section-load &
    left: 0
  &:hover
    width: auto
    min-width: 50%
    .author
      +opacity(1)
  .copy
    +adjust-font-size-to($medpx,1)
    +bold
    margin-right: rhythm(.25)
  .copy, .author
    +inline-block
  .author
    +opacity(.1)
    +transition(opacity 300ms)
  small
    font: inherit
