/* List Navigation --------------------------------------------------------------

.sortlinks
  #{$link}
    display: block
    position: relative
    &::after
      +replace-text-with-dimensions('ui/angle_up.png')
      +inline-block
      content: " "
      margin-left: .4em
      background-image: none
      vertical-align: baseline
  #{$focus}
    color: $accent
    &::after
      background-image: image-url('ui/angle_up.png')
  &.asc
    #{$link}
      &::after
        background-image: image-url('ui/angle_up.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_down.png')
  &.desc
    #{$link}
      &::after
        background-image: image-url('ui/angle_down.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_up.png')

.listordering
  display: none
  +clearfix
  +rhythm(0,.25,.25,0)
  font-weight: bold
  h3
    text-transform: capitalize
    &::after
      content: ": "
  ul
    +inline-block-list
  a
    @extend .sortlinks

.listnav
  display: none
  +pie-clearfix
  +rhythm(0,.25,.25,.5)
  +hpadding(.5em)
  clear: both
  white-space: nowrap
  p, ul
    +reset-box-model
    strong
      font-weight: normal
  .perpage ul, .pagination
    +inline-block-list
    display: inline
    font-style: normal
    li
      vertical-align: baseline
      + li::before
        content: "| "
        color: #ccc
  .pagination
    text-align: center
  .current
    font-weight: bold

  .table &
    .pagination
      +columns(12,21)
    .location, .perpage
      +columns(6,21)
    .perpage
      text-align: right
    .perpage
      +omega(24)

.actions
  display: none

/* List ----------------------------------------------------------------------

.managelist
  +full(21)
  +pie-clearfix
  overflow: visible
  margin: 0

.address
  +pie-clearfix
  clear: both