// Imports ------------------------------------------------------------------

@import lightbox

/* List Navigation -----------------------------------------------------------

.sortlinks
  #{$link}
    display: block
    position: relative
    &::after
      +replace-text-with-dimensions('ui/angle_up.png')
      +inline-block
      content: " "
      margin-left: .4em
      background-image: none
      vertical-align: baseline
  #{$focus}
    color: $accent
    &::after
      background-image: image-url('ui/angle_up.png')
  &.asc
    #{$link}
      &::after
        background-image: image-url('ui/angle_up.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_down.png')
  &.desc
    #{$link}
      &::after
        background-image: image-url('ui/angle_down.png')
    #{$focus}
      &::after
        background-image: image-url('ui/angle_up.png')

.listordering
  display: none
  +clearfix
  +rhythm(0,.25,.25,0)
  font-weight: bold
  h3
    text-transform: capitalize
    &::after
      content: ": "
  ul
    +inline-block-list
  a
    @extend .sortlinks

.listnav
  display: none
  +pie-clearfix
  +rhythm(0,.25,.25,.5)
  +hpadding(.5em)
  clear: both
  white-space: nowrap
  p, ul
    +reset-box-model
    strong
      font-weight: normal
  .perpage ul, .pagination
    +inline-block-list
    display: inline
    font-style: normal
    li
      vertical-align: baseline
      + li::before
        content: "| "
        color: #ccc
  .pagination
    text-align: center
  .current
    font-weight: bold

  .table &
    .pagination
      +columns(12,21)
    .location, .perpage
      +columns(6,21)
    .perpage
      text-align: right
    .perpage
      +omega(24)

/* Actions -------------------------------------------------------------------

=hbuttons($n)
  +float(left)
  width: percentage(1/$n)
  text-align: center

.actions
  h3
    +gone
  ul
    +no-style-list
  .import_export
    display: none

  .manageform
    +pie-clearfix
    background: $mid
    color: $light
    li
      +hbuttons(3)
      &:last-child
        a
          #{$link}
            border: 0
    a
      #{$link}
        +padding-leader(.25)
        +padding-trailer(.25)
        +text-shadow(rgba($base,$xsmall) 0 1px 0)
        display: block
        color: $light
        font-weight: bold
        border-right: 1px solid $mid-dark
        &::before
          padding-right: $xsmallem
      #{$focus}
        +background-image(linear-gradient(top,rgba($base,$xxsmall),rgba($base,0)))
      &.selectall
        +icon('ui/check_circle.png')
      &.selectnone
        +icon('ui/minus_circle.png')
      &.create
        +icon('ui/plus.png')

#add-address-form
  label
    +gone
  li
    +trailer(.5)
  [name="complex"]
    +float(left)
    width: 5%
    ~ input
      +float(right)
      width: 92%
    &:not(:checked)
      + label
        +back
        +float(right)
        width: 92%
      ~ input
        display: none
    &:checked
      ~ input
        display: block

/* Address Table -------------------------------------------------------------

#addresstable
  +column-grid-background(8,$col-width,$gutter-width,0em,$force-fluid:true)
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: fixed(8) + $gutter-width + $side-gutter-width
  counter-reset: address

  h2
    +gone
  button
    +no-style-button

  .managelist
    position: absolute
    top: rhythm(1.5)
    right: 0
    bottom: 0
    left: 0
    overflow-y: scroll
    overflow-x: hidden

  .address
    +pie-clearfix
    +transition(all,300ms)
    clear: both
    counter-increment: address
    position: relative
    padding-right: $gutter-width

    .content
      +clearfix
      +padding-trailer(.5)
      +background-image(linear-gradient(bottom,rgba($light,$xsmall), rgba($light,0) 50%))
      margin-right: - $gutter-width
      padding-right: $gutter-width

  [title="history"]
    +icon('ui/history.png')
  [title="edit"]
    +icon('ui/pencil.png')
  [name="delete"]
    +icon('ui/trash.png')
  [name="approve"]
    +icon('ui/warning.png','ui/check.png',replace)

  .controls
    +opacity(0)
    +no-style-list
    +pie-clearfix
    visibility: hidden
    position: absolute
    right: 0
    bottom: 0
    left: 0
    margin-right: - $gutter-width
    padding-right: $gutter-width
    background: rgba($mid,$xxsmall)
    li
      +hbuttons(3)

  [id^="select_"]
    +gone
    &:checked + .content
      +padding-trailer(1.5)
      +background(rgba($light,$xsmall) linear-gradient(bottom,rgba($mid,$small), rgba($mid,0)))
      details[open]
        +trailer(0)
      .controls
        +opacity(1)
        visibility: visible

  .adr
    +columns(4,8)
    +prefix(1,8)
    +padding-leader(.5)
    position: relative
  .street-address
    +adjust-font-size-to($medpx)
    display: block
    &::before
      position: absolute
      left: 0
      content: counter(address, upper-latin) "."
      width: columns(1,5)
      text-align: right

  .id
    +columns(3,8)
    +omega(8)
    text-align: right
    font-weight: bold
    > *
      +inline-block
      margin: 0
      &[for]
        +padding-leader(.5)
      &:not([for])
        +leader(.5)

  .complex
    +columns(4,8)
    +trailer
    margin-left: columns(1,8) + gutter(8)

  [name="complex"]
    +icon('ui/house.png','ui/bldg.png',replace)
    &.single
      +icon('ui/bldg.png','ui/house.png',replace)

  details[open]
    +trailer(.5)
    + .controls
      +opacity(1)
      visibility: visible

  summary
    +columns(3,8)
    +omega(8)
    text-align: right

  .byline, .notes
    +full(8)
    +prefix(1,8)
    margin: 0
    p
      margin: 0

  .byline
    +trailer
