.complex
  +float(right)
  margin: 0
  width: rhythm(1.5)
  text-align: right
  &.single
    +replace-text('ui/house.png')
  &.multiple
    +replace-text('ui/bldg.png')
  mark
    display: block

#history
  h2
    +gone

.revisionlist
  overflow-y: scroll
  .revision
    +full
    +pie-clearfix
    +background-image(linear-gradient(left, $alt-hint, $alt-hint columns(6,29)+gutter(29), $lighter columns(6,29)+gutter(29), $lighter columns(17,29), $alt-hint columns(17,29), $alt-hint columns(26,29), $lighter columns(26,29)))
    position: relative
    border-bottom: 1px solid $light
    &::before
      +background-image(linear-gradient(top right, $alt-hint, $alt-hint rhythm(1.5), rgba($alt-hint,0) rhythm(1.5), rgba($alt-hint,0)),linear-gradient(bottom right, $alt-hint, $alt-hint rhythm(1.5), rgba($alt-hint,0) rhythm(1.5), rgba($alt-hint,0)))
      +stretch-y
      content: " "
      right: columns(12,29)
      width: columns(2,29) + gutter()
  .changes
    +columns(26,29)
    position: relative

  .new, .old
    +padding-leader(.5)
    +padding-trailer(.5)
  .old
    +float(left)
    width: columns(8,26)
    margin-left: columns(7,26)
    padding:
      left: gutter(26)
      right: columns(1,26) + gutter(26)
  .new
    +columns(8,26)
    +suffix(1,26)
    +omega(26)
  .blame, .controls
    +padding-leader(.675)
    +padding-trailer(.675)
  .blame
    +box-sizing('border-box')
    +font-weight-normal
    +stretch-y
    left: 0
    width: columns(6,26)
    padding-right: gutter(26)
    text-align: right
    color: $mid
    time, cite
      +font-style-normal
      +bold
  .controls
    +columns(1,29)
    +omega(29)
    text-align: right

  .created, .deleted
    +adjust-font-size-to($medpx)
    +padding-leader(.5,$medpx)
    text-transform: uppercase
  .created
    color: $green
  .deleted
    color: $accent

  .adr
    +columns(5,8)
    +hpadding(0)
  .locality, .region, .postal-code, .complex-name
    display: inline

  .notes
    +italic
    clear: both
    margin: 0
    color: $mid

  .id
    .value
      +float(right)
    .flag-for-review
      +replace-text('ui/warning.png')
      +float(left)
      width: rhythm(1.5)
    mark
      display: block